<table class="img-editor-table" draggable="false">
    <tr>
        <td rowspan="5">
            <img src="" id="temp-image" width="50" height="50" draggable="false" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Width : </td>
        <td><input id="image-editor-width" type="range" min="50" max="500" draggable="false" /> </td>
        <td>PositionX : </td>
        <td><input id="image-editor-position-x" type="range" min="0" max="500" draggable="false" /> </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><span id="image-editor-label-width">50</span></td>
        <td></td>
        <td><span id="image-editor-label-position-x">50</span></td>
    </tr>
    <tr>
        <td></td>
        <td>Height : </td>
        <td><input id="image-editor-height" type="range" min="50" max="500" draggable="false" /> </td>
        <td>PositionY : </td>
        <td><input id="image-editor-position-y" type="range" min="0" max="500" draggable="false" /> </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><span id="image-editor-label-height">50</span></td>
        <td></td>
        <td><span id="image-editor-label-position-y">50</span></td>
    </tr>
    <tr>
        <td colspan="5">
            <a  href="javascript:void(0);"  id="image-editor-remove" draggable="false">Remove</a> | <a href="javascript:void(0);"  id="image-editor-close" draggable="false">close Toolbox</a>
        </td>
    </tr>
</table>